:root {
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --third-text-color: #9da4bd;
  --white-text-color: #ffffff;
  --accent-color: #ff6c00;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid tomato;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* =====HEADER===== */
.header {
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: #555555;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--white-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  color: var(--white-text-color);
  background-color: transparent;
}

.header-tel:hover,
.header-tel:focus,
.header-btn:hover,
.header-btn:focus {
  color: var(--accent-color);
}

/* =====HERO===== */
.hero {
}

.hero-content {
  padding-top: 270px;
  padding-right: 449px;
  padding-bottom: 206px;
  padding-left: 99px;

  background-color: #555555;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color);
}

.hero-top-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--white-text-color);
}

.hero-bottom-text {
  max-width: 400px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: var(--third-text-color);
}

/* =====About us===== */
.about {
  padding-top: 169px;
  padding-bottom: 91px;
}

.about-top-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.about-title {
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--secondary-text-color);
}

.about-down-text {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.67;

  color: var(--primary-text-color);
}

.about-bottom-text {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  color: var(--secondary-text-color);
  background-color: transparent;
}

.about-btn:hover,
.about-btn:focus {
  color: var(--accent-color);
}

/* ======Services and prices====== */
.services {
  background-color: #555555;
}

.services-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}
.services-title {
  font-family: 'Raleway';
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: var(--white-text-color);
}

.services-item {
  font-size: 18px;
  line-height: 1.67;

  color: var(--third-text-color);
}

.services-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  color: var(--white-text-color);
  background-color: transparent;
}

.services-btn:hover,
.services-btn:focus {
  color: var(--accent-color);
}

/* ======Why we====== */

.advantages-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--secondary-text-color);
}
.advantages-item p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--secondary-text-color);
}
.advantages-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.advantages-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--secondary-text-color);
}
.advantages-botom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

/* ====Our masters==== */
.masters {
  background-color: var(--secondary-bg-color);
}
.masters-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.masters-title {
  font-family: 'Raleway';
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--secondary-text-color);
}

.masters-name {
  font-size: 18px;
  line-height: 1.38;

  color: var(--secondary-text-color);
}

.masters-class {
  font-size: 14px;
  line-height: 1.35;
  color: var(--accent-color);
}

/* ====Work galery===== */
.galery-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* ==Online registration form== */
.registration {
  background-color: #555555;
}

.registration-title {
  font-family: 'Raleway';
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--white-text-color);
}

.registration-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  color: var(--white-text-color);
  background-color: transparent;
}
.registration-btn:hover,
.registration-btn:focus {
  color: var(--accent-color);
}

/* ==Contacts== */
.contacts {
  background-color: #555555;
}

.contacts-title {
  font-family: 'Raleway';

  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--white-text-color);
}

.contacts-list {
}

.contacts-item a {
  font-style: normal;
  font-size: 18px;
  line-height: 1.66;

  color: var(--third-text-color);
}

.contacts-mail {
  text-decoration-line: underline;
}

.contacts-hours {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.contacts-time {
  font-size: 18px;
  line-height: 1.66;

  color: var(--third-text-color);
}

.contacts-adress:hover,
.contacts-adress:focus,
.contacts-tel:hover,
.contacts-tel:focus,
.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--accent-color);
}

/* ==Footer== */
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: var(--third-text-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: var(--secondary-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
